* {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
}

:root {
    --defaultColor: #55A2A6;
    --defaultBlack: #151515;
    --lightBlack: #333333;
    --darkerBlack: #111111;
    --lightBlack2: #444444;
    --defaultGray: #CCC;
    --darkerGray: #B2B2B2;
}

html {
    scroll-behavior: smooth;
}

body,
nav,
main,
main > section,
.about,
.about > section > article,
.about > blockquote,
.features a,
footer {
    display: flex;
    flex-direction: column;
}

h1 {
    color: var(--darkerBlack)
}

h1,
h3 {
    text-transform: capitalize;
}

h2 {
    text-transform: uppercase;
    color: white;
}

h3 {
    color: var(--darkerGray);
}

a {
    text-decoration: none;
}

@media (min-width: 250px) {

    main{ 
        row-gap: 5vh;
    }

    header {
        background-image: url(/img/bg-header.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    header article {
        background-color: rgba(50, 50,50,.4);
        height: 100%;
        width: 100%;

    }

    .features {
        row-gap: 5vh;
    }

    .features blockquote {
        line-height: 1.5;
        color: white;
        background-color: var(--defaultColor);
        padding: 4%;
        padding-left: 20%;
        padding-right: 20%;
        text-align: center;
    }

    .features q,
    .features cite {
        width: 80%;
    }

    .features > article {
        display: flex;
        flex-direction: column;
        row-gap: 10vh;
        padding-bottom: 5vh;
        padding-top: 5vh;
    }

    .features a {
        align-items: center;
        row-gap: 2vh;
        color: var(--darkerBlack);
    }

    .features h3 {
        width: 40%;
        text-align: center;
    }

    .features i {
        font-size: 48px;
    }

    .features p {
        color: var(--darkerGray);
        font-weight: 500;
        
    }


}